 <!--<app-header></app-header>
<app-home></app-home>
 <h1>je suis {{name}} j'ai plusieur skills comme {{skills[0]}} and {{skills[1]}} . {{paragraf}} </h1>

 <img [src]="imageURL">
 
 <button (click)="ekteb()">Save</button>
 <input [(ngModel)]="name" placeholder="" -->
<!--<app-test-directives></app-test-directives>-->
<!--<app-tp2></app-tp2>-->
<!--<header><app-header></app-header></header>

<router-outlet></router-outlet>
<app-nav></app-nav>

<footer><app-footer></app-footer></footer>*/-->
<div class="d-flex flex-column vh-100">
    <app-header class="bg-dark text-white text-center p-3">Header</app-header>

    <div class="d-flex flex-grow-1">
        <div class="app-nav bg-primary text-white p-3 flex-shrink-0" style="width: 250px;">
            <app-nav></app-nav>
        </div>
        <div class="content flex-grow-1 p-3 bg-light">
            <router-outlet></router-outlet>
        </div>
    </div>

    <app-footer class="bg-dark text-white text-center p-3">Footer</app-footer>
</div>