<!--<div *ngIf="1 >0">Afficher la div</div>
<div *ngIf="1 <0"> n'Afficher pas la div</div>

<div *ngIf= "afficherNom" ; else elsblock>si ahmed</div>
<ng-template #afficherNom> ahmed</ng-template>
<ng-template #elseblock>
    *************************
</ng-template>


<div *ngIf= "afficherNom" ; then thenBlock; else elseBlock>A</div>
<div ng-template #thenBlock>Alya khayati</div>
<ng-template #elseBlock>
    *************
</ng-template>

<div *ngIf="afficherNom; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
    Affiché si la condition est vraie
</ng-template>

<ng-template #elseBlock>
    Affiché si la condition est fausse
</ng-template>-->